.line-clamp-2[data-v-fe7937e4]{-webkit-line-clamp:2}.line-clamp-2[data-v-fe7937e4],.line-clamp-3[data-v-fe7937e4]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-fe7937e4]{-webkit-line-clamp:3}
